<div class="container mt-5 about-container">
    <div class="row columna-a">
      <div class="col-md-5">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title text-center">Alex Stocki</h2>
            </div>
            <img src="../../../assets/about/about-img.png" class="card-img-top user-img" alt="Creador de la App">
        </div>
      </div>
      
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title">Sobre la Aplicación</h2>
            <p class="card-text">
              WebApp creada como trabajo práctico para la materia Laboratorio IV - segundo cuatrimestre 2024.<br>
              ⚒️ Tecnologías utilizadas: Angular, Firebase, Bootstrap.<br>
              👾 La aplicación permite jugar 4 juegos: Ahorcado, Mayor o Menor, Preguntados (con temáticas de Game of Thrones) y Simon Dice.<br>
              💬 Además incluye un chat incorporado para que los distintos jugadores en línea puedan intercambiar mensajes en tiempo real.<br>
              🎮 El juego elegido como desarrollo propio es "Simon Dice", donde se debe seguir una secuencia de colores que se iluminan en la pantalla.
              Sumando puntos y teniendo la posibilidad de guardar el resultado en una base de datos.<br>
              Hay una cantidad máxima de 15 secuencias, si el usuario logra alcanzar ese número, se le considera ganador.<br>
              Sin embargo, tiene la posibilidad de finalizar el juego antes de que eso suceda, registrando su puntaje y finalizando la partida, siempre y 
              cuando haya realizado al menos una secuencia de manera correcta.<br>
              Cada secuencia correcta suma 10 puntos.<br>
              Cuando se comete un error, la partida finaliza.<br>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  