<div class="container mt-5 about-container">
    <div class="row columna-a">
      <div class="col-md-5">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title text-center">Alex Stocki</h2>
            </div>
            <img src="../../../assets/about/about-img.png" class="card-img-top user-img" alt="Creador de la App">
        </div>
      </div>
      
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title">Sobre la Aplicación</h2>
            <p class="card-text">
              WebApp creada como trabajo práctico para la materia Laboratorio IV.<br>
              Sala de juegos con métricas de los juegos y chat integrado.<br>
              Incluye un juego propio que consiste en xxx-descripcion del juego-xxx.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  