<div class="footer-container">
  <div class="row justify-content-center mt-2">
    <div class="col-md-6 text-center">
      <h4>Seguime</h4>
      <ul class="list-unstyled d-flex flex-row justify-content-center">
        <li class="mx-2">
          <a href="https://instagram.com/stockialex" target="_blank" class="text-white">
            <i class="bi bi-instagram footer-icon"></i>
          </a>
        </li>
        <li class="mx-2">
          <a href="https://github.com/stockia" target="_blank" class="text-white">
            <i class="bi bi-github footer-icon"></i>
          </a>
        </li>
        <li class="mx-2">
          <a href="https://linkedin.com/in/alexstocki/" target="_blank" class="text-white">
            <i class="bi bi-linkedin footer-icon"></i>
          </a>
        </li>
      </ul>        
    </div>
    <div class="col-md-6 text-center">
      <h4>Acerca de mi</h4>
      <ul class="list-unstyled d-flex flex-row justify-content-center">
        <li class="mx-2">
          <button routerLink="about" routerLinkActive="active-route" class="user-icon-btn">
            <i class="bi bi-person-raised-hand user-icon"></i>
          </button>
        </li>
      </ul>        
    </div>
  </div>
</div>
