.navbar-container {
    background-color: #00bfa6;
}

.logout-btn, .navbar-logo {
    border: none;
    background-color: transparent;
}

.logout-btn {
    transition: 0.5s;
}

.logout-btn:hover {
    color: whitesmoke;
}