<div class="login-container">
  <form class="login-form">
    <h2>Iniciar sesión</h2>
    <div class="form-group">
      <label for="username">Nombre de usuario:</label>
      <input type="text" id="username" name="username" required [(ngModel)]="username">
    </div>
    <div class="form-group">
      <label for="password">Contraseña:</label>
      <input type="password" id="password" name="password" required [(ngModel)]="password">
    </div>
    <div class="button-group">
      <button type="submit" (click)="login(username, password)" class="btn btn-primary">Ingresar</button>
      <button type="button" class="btn btn-success">Registrarse</button>
    </div>
    <div class="button-group button-group-auto">
      <button type="button" (click)="autocomplete()" class="btn btn-secondary">Autocompletar</button>
    </div>
  </form>
</div>
