h2 span {
    display: inline-block;
    width: 30px;
    border-bottom: px solid #000;
    text-transform: uppercase;
    font-size: 24px;
    margin: 0 2px;
  }

  h1, h2, p {
    color: white;
  }
  
  button[disabled] {
    opacity: 0.6;
  }

.person {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upper-body {
    display: flex;
    justify-content: center;
}

.lower-body {
    display: flex;
    justify-content: center;
}

.person-emoji {
  font-size: 1.8rem;
}