<div class="container text-center mt-5 game-container">
    <h1>Ahorcado</h1>
    <div class="my-4">
      <h2>
        <span *ngFor="let letter of displayWord">{{ letter }} </span>
      </h2>
    </div>
  
    <div class="my-4">
      <p>Intentos incorrectos: {{ incorrectGuesses }} / {{ maxIncorrectGuesses }}</p>
      <p>Puntos: {{ points }}</p>
    </div>

    <div class="person">
      <img src="assets/games/hangman/error-{{ incorrectGuesses }}.png" alt="Imagen del ahorcado" class="img-fluid hangman-image">
    </div>
  
    <div class="my-4">
      <div class="d-flex flex-wrap justify-content-center">
        <button
          *ngFor="let letter of alphabet"
          class="btn btn-outline-light m-1"
          [disabled]="guessedLetters.includes(letter) || isGameOver() || gameWon"
          (click)="guessLetter(letter)"
        >
          {{ letter }}
        </button>
      </div>
      <div class="mt-3">
        <button class="btn btn-secondary" 
        (click)="finishGame()"
        [disabled]="!hasWonOne"
        >
          @if (isSavingScore) {Guardando resultado}
          @else {Finalizar}
        </button>
      </div>
    </div>
  
    <div class="my-4">
      <div *ngIf="isGameWon()" class="alert alert-success">
        ¡Felicidades! Has ganado. 
        <button class="btn btn-secondary" (click)="restartGame()">Jugar de nuevo</button>
      </div>
      <div *ngIf="isGameOver()" class="alert alert-danger">
        ¡Has perdido! La palabra era: {{ wordToGuess }}
        <button class="btn btn-secondary" (click)="restartGame()">Reiniciar Juego</button>
      </div>
    </div>
  </div>

  @if (openForm) {
    <div class="overlay">
      <app-form (closeForm)="onCloseForm()"></app-form>
    </div>
  }

  <app-chat></app-chat>